.App {
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}